POSTGRES_USER=life_dashboard
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
POSTGRES_TEST_DB=life_dashboard_test
GOOGLE_BOOKS_API_KEY=
KINOPOISK_API_KEY=
RAWG_API_KEY=
STEAMGRIDDB_API_KEY=
STEAM_API_KEY=
STEAM_ID64=
OPENXBL_API_KEY=
BOOK_COVERS_DIRECTORY=../data/uploads/book-covers
